.my-class-1 {background-color: red;
margin: 30px;
padding: 20px;
font-size: 20px;
display: inline-block;
color: white ;
height: 100px;
width: 100px;
text-align: center;
font-family: 'Slabo 27px', serif;
}

.my-class-2 {background-color: blue;
color: white;
font-size: 20px;
display: inline-block;
margin: 30px;
padding: 20px;
height: 100px;
width: 100px;
text-align: center;
font-family: 'Slabo 27px', serif;
}

.my-class-3 {background-color: green;
color: white;
font-size: 20px;
display: inline-block;
margin: 30px;
padding: 15px;
height: 300px;
font-family: 'Slabo 27px', serif;
border-radius: 15px;
}